*
!*.*
!*/

*/build/*
*/CMakeFiles/*
*.exe
*/Makefile
*/CMakeCache.txt
*/cmake_install.cmake

/exercise2_1/blue.bmp
/exercise2_1/green.bmp
/exercise2_1/red.bmp
/exercise2_1/hue.bmp
/exercise2_1/saturation.bmp
/exercise2_1/value.bmp
